
@{
    ViewBag.Title = "IndexAdmin";
}
<link rel="stylesheet" href="@Url.Content("~/Estilos/estilos.css")">

<div class="contenedor">
    <h2 class="tituloIndex">¡Hola, Admin @Session["Nombre"]! </h2>

    <div class="opciones">
        <div class="opcion">
            <img src="~/Imagenes/RegistroVeterinario.jpg" alt="Registrar veterinario">
            <a href="@Url.Action("RegistroVeterinario", "Admin")" class="links"><p>Registrar Veterinario</p></a>

        </div>
        <div class="opcion opcion2">
            <img src="~/Imagenes/Regis_Asistente.jpg" alt="Registrar Asistente">
            <a href="@Url.Action("RegistroAsistente", "Admin")" class="links"><p>Registrar Asistente</p></a>

        </div>
        <div class="opcion">
            <img src="~/Imagenes/GenerarReport.jpeg" class="imgServ" alt="Generar reporte">
            <a href="@Url.Action("ReporteServicios", "Admin")" target="_blank"  class="links"><p>Generar Reporte Servicios</p></a>
        </div>
        <div class="opcion opcion2">
            <img src="~/Imagenes/Eliminar_Usu.jpeg" alt="Eliminar Usuarios">
            <a href="@Url.Action("EliminarUsuarios", "Admin")" class="links"><p>Eliminar Usuarios</p></a>

        </div>
    </div>
</div>


<style>
    body {
        background-image: url('/Imagenes/fondo_dispon.png');
        background-size: cover; /* para cubrir toda la pantalla */
        background-repeat: no-repeat;
        background-attachment: fixed; /* para que no se mueva al hacer scroll */
        background-position: center;
    }

    .tituloIndex {
        margin-top: 55px;
    }

    .contenedor {
        text-align: center;
        padding: 0px;
        overflow-x: auto;
        max-width: 100%; /* Que ocupe todo el ancho */
    }


    .opcion img {
        width: 100%;
        border-radius: 25px;
        margin-bottom: 30px;
    }


</style>

