
<!DOCTYPE html>


<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@Url.Content("~/Estilos/estilos.css")">
    <title>@ViewBag.Title - CliniPet</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">
    // Detecta si la página se cargó desde el caché (por ejemplo, al volver con el botón "Atrás")
    window.addEventListener("pageshow", function (event) {
        if (event.persisted || (window.performance && window.performance.navigation.type === 2)) { //event.persisted es true cuando la página fue recuperada desde el caché del navegador
            // Forzar recarga completa desde el servidor
            window.location.reload(); //Recarga la página desde el servidor, no desde la caché.
        }
    });
    </script>
    <style>
        /* Estilos para que se carguen primero que los que vienen por defecto en ASP.NET*/
        .navbar {
            padding-top: 8px;
            background-color: #9fb2a9;
            box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.22);
            border-color: #9fb2a9;
            height: 12%;
        }

            .navbar .navbar-brand {
                padding-top: 0;
                font-size: 1.3em;
                font-weight: bold;
                color: #2f2f2f;
                margin-right:10px;
            }

                .navbar .navbar-brand:hover {
                    font-size: 1.55em;
                }

        .tit {
            color: #353535 !important;
            margin-top: 19px;
           
            font-size: 1.55em !important;
            text-shadow: -1.5px -1.5px 0 gray;
        }
            .tit:hover {
                color: white !important;
                font-size: 1.8em !important;
            }
        .navbar-brand .logo {          
            
            margin-right:-30px;         
           
        }

        .navbar-collapse .nav .links {
            margin-top: 3px;
            color: #2f2f2f;
            font-weight: 500;
            font-size: 1.1em;
        }

            .navbar-collapse .nav .links:hover {
                font-size: 1.29em;
                 
            
            }
        .sesion {
            background-color: #d9a86c;
            border-radius: 60px;
            box-shadow: 2px 2px 5px gray;   
            margin-left:15px;
        }
        .navbar-collapse .nav .sesion:hover {
            background-color: #948e8e;
            font-size: 1.2em;
        }

        footer {
            border-radius: 10px;
            margin-top: 30px;
            background-color: #5a7b6b;
            color: white;
            padding: 20px;
            text-align: center;
        }

        .footer-contenedor {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            text-align: left;
            padding-bottom: 10px;
        }

        .footer-seccion {
            flex: 1;
            min-width: 200px;
            margin: 8px;
        }

            .footer-seccion h4 {
                margin-bottom: 10px;
                font-size: 1em;
                font-weight: 600;
                display: inline-block;
                padding-bottom: 5px;
                text-shadow: 1px 1px 20px #948e8e;
            }

            .footer-seccion a {
                color: #d9a86c;
                text-decoration: none;
                font-size: 0.84em;
                font-weight: 500;
            }

            .footer-seccion p {
                font-size: 0.8em;
            }

            .footer-seccion a:hover {
                text-decoration: underline;
            }

        .footer-bottom {
            border-top: 1px solid #ecf0f1;
            padding-top: 10px;
            font-size: 0.8em;
        }

        .icono-red {
            width: 20px;
            height: 20px;
            vertical-align: middle;
            margin-right: 6px;
            transition: filter 0.3s ease;
        }
    </style>


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <img src="@Url.Content("~/Imagenes/logo_clinipet_sin_fondo.png")" alt="CliniPet Logo" width="124" height="68" class="logo">
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("CliniPet", "Index", "Home", new { area = "" }, new { @class = "navbar-brand tit" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "links" })</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home", new { area = "" }, new { @class = "links" })</li>
                    <li>@Html.ActionLink("Servicios", "Servicios", "Home", new { area = "" }, new { @class = "links" })</li>
                    <li>@Html.ActionLink("Registro Cliente", "RegistroCliente", "General", new { area = "" }, new { @class = "links" })</li>
                    @if (Session["UsuLoguedo"] != null)
                    {
                        <li>@Html.ActionLink("Cerrar Sesión", "CerrarSesion", "General", new { area = "" }, new { @class = "links sesion" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Iniciar Sesión", "Login", "General", new { area = "" }, new { @class = "links sesion" })</li>
                    }

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="footer-contenedor">
                <div class="footer-seccion">
                    <h4>Contacto</h4>
                    <p>📍 Dirección: Calle 123, Ciudad</p>
                    <p>📞 Teléfono: +57 123 456 7890</p>
                    <p>✉️ Correo: clinipet@gmail.com</p>

                </div>

                <div class="footer-seccion">
                    <h4>Horarios de Atención</h4>
                    <p>Lunes - Sábado: </p>
                    <p>8:00 AM - 6:00 PM</p>

                </div>

                <div class="footer-seccion">
                    <h4>Síguenos</h4><br />
                    <a href="https://facebook.com" target="_blank">
                        <img src="~/Imagenes/facebook.png" alt="Facebook" class="icono-red"> Facebook
                    </a> <br />
                    <a href="https://instagram.com" target="_blank">
                        <img src="~/Imagenes/instagram.png" alt="Instagram" class="icono-red"> Instagram
                    </a><br />

                </div>

                <div class="footer-seccion">
                    <h4>Enlaces Rápidos</h4><br />

                    <a href="https://instagram.com" target="_blank">
                        <img src="~/Imagenes/home.png" alt="Home" class="icono-red"> Home
                    </a><br />
                    <a href="https://instagram.com" target="_blank">
                        <img src="~/Imagenes/acerca.png" alt="Acerca de" class="icono-red"> Acerca de
                    </a><br />
                    <a href="https://instagram.com" target="_blank">
                        <img src="~/Imagenes/contacto.png" alt="Contacto" class="icono-red"> Contacto
                    </a><br />


                </div>
            </div>

            <div class="footer-bottom">
                <p>&copy; @DateTime.Now.Year - CliniPet </p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Html.Partial("_Modal")
</body>
</html>

