
@{
    ViewBag.Title = "ElegirMascDescrip";
}
@model List<Clinipet.Dtos.MascotaDto>
<link rel="stylesheet" href="@Url.Content("~/Estilos/estilos.css")">
@if (Model != null && Model.Any(m => !string.IsNullOrEmpty(m.nom_masc)))
{
    <h2>Mascotas de @Model.FirstOrDefault().nom_usu</h2>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Raza</th>
                <th>Tipo</th>
                <th>Edad</th>
                <th class="añadir">Elegir Mascota</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mascota in Model)
            {
                <tr>
                    <td>@mascota.nom_masc</td>
                    <td>@mascota.nom_raza</td>
                    <td>@mascota.nom_tipo</td>
                    <td>@mascota.edad_masc</td>
                    <td>
                        <form action="@Url.Action("ElegirCitaEspec", "Veterinario")" method="post">
                            <input type="hidden" name="id_usu" value="@Session["Id"]" />
                            <input type="hidden" name="id_mascota" value="@mascota.id_mascota" />
                            <button type="submit" class="botonSec botonForm">Elegir &raquo;</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="cajaBoton">
        <button type="button" class="botonForm botonVol" onclick="window.location.href='@Url.Action("BuscarCliente", "Veterinario")'">Volver</button>
        

    </div>
}
else
{
    <div class="cajaMensaje">
        <p class="mensaje">No hay mascotas registradas para este usuario.</p>
        <div class="cajaBoton">
            <form method="get" action="/Veterinario/BuscarCliente">
                <button class="botonForm">Volver</button>
            </form>
        </div>
    </div>
}

<style>
    body {
        background-image: url('/Imagenes/fondo_mascotas.png');
        background-size: cover; /* para cubrir toda la pantalla */
        background-repeat: no-repeat;
        background-attachment: fixed; /* para que no se mueva al hacer scroll */
        background-position: center;
    }

    h2 {
        margin-top: 45px;
    }

    table {
        width: 70%;
    }

    .añadir {
        width: 200px;
    }


    .cajaBoton {
        text-align: center;
    }

    .botonForm {
        border: 1px solid #2f2f2f;
    }
    .botonVol {
        background-color: #4f7768;
    }
</style>
