
@{
    ViewBag.Title = "CitasEspecDispon";
}

@model List<Clinipet.Dtos.DisponibDto>
<link rel="stylesheet" href="@Url.Content("~/Estilos/estilos.css")">
<h2>Citas disponibles</h2>
<table>
    <thead>
        <tr>
            <th>Especialidad</th>
            <th>Veterinario</th>
            <th>Día</th>
            <th>Hora</th>
            <th>Selecciona</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dispon in Model)
        {
        <tr>
            <td>@dispon.nom_serv</td>
            <td>@dispon.nom_usu</td>
            <td>@dispon.nom_dia</td>
            <td>@dispon.nom_hora</td>
            <td>
                <form action="@Url.Action("ListadoMascotas", "Cliente")" method="post">
                    <input type="hidden" name="id_usu" value="@Session["Id"]" />
                    <input type="hidden" name="id_dispon" value="@dispon.id_dispon" />
                    <button type="submit" class="botonSec botonForm">Agendar &raquo;</button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
<style>
    h2{
        margin-top:40px;
        margin-bottom:20px;
    }
    body {
        background-image: url('/Imagenes/fondo_dispon.png');
        background-size: cover; /* para cubrir toda la pantalla */
        background-repeat: no-repeat;
        background-attachment: fixed; /* para que no se mueva al hacer scroll */
        background-position: center;
    }
</style>