
@{
    ViewBag.Title = "HistorialCitasEspec";
}



@model List<Clinipet.Dtos.CitaEspecDto>
<link rel="stylesheet" href="@Url.Content("~/Estilos/estilos.css")">
<h2>Historial Citas Especializadas</h2>
<div class="cajaImg">
    <img class="mascotasEncab" src="~/Imagenes/encab_citas_gen.png" alt="Encabezado" />
</div>

<table>
    <thead>
        <tr>
            <th class="campoCorto">Servicio</th>
            <th class="campoCorto">Día</th>
            <th class="campoCorto">Hora</th>
            <th class="campoCorto">Mascota</th>
            <th class="campoCorto">Estado</th>
            <th class="campoLargo">Motivo</th>
            <th class="campoLargo">Diagnostico</th>
            <th class="campoLargo">Recomendaciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var citaEsp in Model)
        {
        <tr>
            <td>@citaEsp.nom_serv</td>
            <td>@citaEsp.nom_dia</td>
            <td>@citaEsp.nom_hora</td>
            <td>@citaEsp.nom_masc</td>
            <td>@citaEsp.nom_estado</td>
            <td>@citaEsp.nom_motivo</td>           
            <td>@citaEsp.diagnost</td>
            <td>@citaEsp.recomen</td>
        </tr>
        }
    </tbody>
</table>
<div class="cajaBoton">  
        
        <button type="button" class="botonForm botonVol" onclick="window.history.back();">Volver</button>  
</div>
<style>
    body {
        background-image: url('/Imagenes/fondo_dispon.png');
        background-size: cover; /* para cubrir toda la pantalla */
        background-repeat: no-repeat;
        background-attachment: fixed; /* para que no se mueva al hacer scroll */
        background-position: center;
    }
    h2{
        margin-top:50px;
    }
    table{
       
        width:100%;
        margin:auto;
    }
    .mascotasEncab {
        width: 35%;
    }
    .campoLargo{
       
        width: 120px;
    }
    .campoCorto {
        width: 90px;
    }
    
    .cajaBoton {
        width: 100%;
        text-align: right;
    }

    .boton {
        padding: 10px 20px;
        font-size: 1.02em;
        text-shadow: 1px 1px 3px white;
    }

    .cajaImg {
        text-align: center;
    }
    
</style>