
@{
    ViewBag.Title = "IndexCliente";
}
<link rel="stylesheet" href="@Url.Content("~/Estilos/estilos.css")">

<div class="contenedor">
    <h2 class="tituloIndex">¡Hola! @Session["Nombre"]</h2>

    <div class="opciones">
        <div class="opcion">
            <img src="~/Imagenes/registrar_mascota.png" alt="Registrar mascota">
            <a href="@Url.Action("RegistroMascota", "General")" class="links"><p>Registrar mascota</p></a>

        </div>
        <div class="opcion opcion2">
            <img src="~/Imagenes/cita_espec.png" alt="Citas especializadas">
            <a href="@Url.Action("CitasEspecDispon", "Cliente")" class="links"><p>Citas especializadas</p></a>
            
        </div>
        <div class="opcion">
            <img src="~/Imagenes/cita_serv_general.png" class="imgServ" alt="Cita servicios generales">
            <a href="@Url.Action("ServiciosGenerales", "Cliente")" class="links"><p>Cita servicios generales</p></a>
            
        </div>
        <div class="opcion opcion2">
            <img src="~/Imagenes/historial_cita.png" alt="Historial Citas">
            <a href="@Url.Action("RegistroMascota", "General")" class="links"><p>Historial Citas</p></a>
            
        </div>
        <div class="opcion">
            <img src="~/Imagenes/mascota_regis.png" alt="Mascotas Registradas">
            <a href="@Url.Action("MascotasRegistradas", "Cliente")" class="links"><p>Mascotas Registradas</p></a>
            
        </div>
    </div>
</div>


<style>
    body {
        background-image: url('/Imagenes/fondo_dispon.png');
        background-size: cover; /* para cubrir toda la pantalla */
        background-repeat: no-repeat;
        background-attachment: fixed; /* para que no se mueva al hacer scroll */
        background-position: center;
    }
    .tituloIndex {
        margin-top: 55px;
    }
    .contenedor {
        text-align: center;
        padding: 0px;
        overflow-x: auto;
        max-width: 100%; /* Que ocupe todo el ancho */
    }

     

</style>
